<h1> <%= @article.title %> </h1>

<div> <%= @article.body%> </div>

<p> <%= link_to 'Edit pace entry', edit_article_path(@article) %>

<p> <%= link_to 'Delete pace entry', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}%>

<p> <%= link_to 'Back to List of Places', articles_path %> </p>

<h3> Comments (<%=@article.comments.size%>)</h3>

<%= render partial: 'comment', collection: @article.comments %>

<h3> Add a comment </h3>

<%= render partial: 'comments/form' %>