<h1> <%= @article.title %> </h1>

<p> Tags: <% @article.tags.each do |tag|%>
    <%= link_to tag.name, tag_path(tag)%>
    <%end%>
</p>

<p> 
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url%> 
  <%end%>
  
</p>

<div> <%= @article.body%> </div>

<%if logged_in?%>
  <p> <%= link_to 'Edit place entry', edit_article_path(@article) %>

  <p> <%= link_to 'Delete place entry', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}%>
<%end%>

<p> <%= link_to 'Back to List of Places', articles_path %> </p>

<h3> Comments (<%=@article.comments.size%>)</h3>

<%= render partial: 'comment', collection: @article.comments %>

<h3> Add a comment </h3>

<%= render partial: 'comments/form' %>